#outer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#header {
  flex: none;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: var(--brown);
}

#account {
  width: 30px;
  padding-left: 10px;
  padding-right: 10px;
  fill: var(--beige);
}
#account:hover {
  fill: var(--yellow);
}

#langs {
  width: 30px;
  padding-left: 10px;
  padding-right: 10px;
  stroke: var(--beige);
}
#langs:hover {
  stroke: var(--yellow);
}

.logo {
  height: 30px;
}

#content {
  flex: 1;
  background-color: var(--white);
  color: var(--black);
}

#footer {
  flex: none;
  padding: 20px;
  background-color: var(--beige);
  color: var(--black);
  font-size: 12px;
}

hr {
  border-color: var(--black);
}

/* common */
.single-card {
  display: flex;
  margin-bottom: 10px;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.important-text, .info-text {
  height: 100%;
}
.info-text .col2 {
  background-color: var(--yellow);
}


/* mobile */
@media screen and (max-width: 1000px) {
  .important-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    gap: 10px;
  }
  .info-text .col1, .info-text .col2 {
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

/* desktop */
@media screen and (min-width: 1001px) {
  .important-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    gap: 20px;
  }
  .info-text {
    display: flex;
  }
  .info-text .col1, .info-text .col2 {
    padding: 50px;

    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .info-text .col1 {
    flex: 3;
    align-items: flex-end;
  }
  .info-text .col2 {
    flex: 2;
    align-items: flex-start;
  }
}
