#outer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#header {
  flex: none;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: var(--brown);
}

#account {
  width: 30px;
  padding-left: 10px;
  padding-right: 10px;
  fill: var(--beige);
}
#account:hover {
  fill: var(--yellow);
}

.logo {
  height: 30px;
}

#content {
  flex: 1;
  background-color: var(--white);
  color: var(--black);
}

#footer {
  flex: none;
  padding: 20px;
  background-color: var(--beige);
  color: var(--black);
  font-size: 12px;
}

/* mobile */
@media screen and (max-width: 500px) {
  #content {
    padding: 10px;
  }
}

/* desktop */
@media screen and (min-width: 501px) {
  #content {
    padding: 50px 200px 50px 200px;
    text-align: center;
  }
}
