.inp, .but {
  padding: 3px;
  margin: 5px 0 5px 0;
  border: 1px solid var(--black);
  font: var(--text);
  color: var(--black);
}

.inp {
  background-color: var(--orange);
}
.inp:hover {
  background-color: var(--yellow);
}
.inp:focus {
  outline: transparent;
}

.inp:is(:autofill, :-webkit-autofill) {
  border: 1px solid var(--orange);
}
.inp[readonly] {
  background-color: var(--white);
}
.inp::placeholder {
  color: var(--brown);
}

.inp::-webkit-outer-spin-button,
.inp::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inp[type=number] {
  -moz-appearance: textfield;
}
.inp[type=checkbox] {
  accent-color: var(--orange);
}

.but {
  background-color: var(--orange);
}
.but:hover {
  background-color: var(--yellow);
}



.link {
  color: inherit;
  text-decoration: underline;
}
.link:hover {
  color: var(--orange);
}
