@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:FILL@1");
@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css");
@import url("https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css");

.micon, .ricon, .dicon {
  position: relative;
  color: var(--brown);
  font-size: 15px;
  margin-right: 2px;
}

.micon {
  top: 2px;
}
.ricon {
  top: 0px;
}
.dicon {
  top: 2px;
}

.micon:before {
  content: var(--content);
}
