.card {
  margin: 10px;
  display: inline-block;
  position: relative;
  z-index: 1;
}
.card:before {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--brown);
  top: 10px;
  left: -10px;
  content: "";
  z-index: -1;
}
.card>.heading {
  min-width: fit-content;
  font: var(--heading);
  padding: 10px 20px 10px 20px;
  font-size: 30px;
  background-color: var(--orange);
}
.card>.text {
  min-width: fit-content;
  font: var(--text);
  line-height: 22px;
  padding: 5px 20px 5px 20px;
  overflow-wrap: break-word;
  background-color: var(--yellow);
}
.card>.text>div {
  margin-bottom: 10px;
}
.card>.text .title {
  margin: 4px 0 4px 0;
  font: var(--heading);
  font-size: 20px;
}

/* double column card design */
.col2 .card>.text {
  background-color: var(--white);
}
.col2 .card:before {
  background-color: var(--black);
  left: 10px;
}

/* forms */
.f {
  display: flex;
  flex-direction: column;

  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

  gap: 15px;

  background-color: var(--white);
}
.f label {
  display: block;
  position: relative;
  width: 100%;
}
.f input:not([type=checkbox]) {
  box-sizing: border-box;
  width: 100%;
}
.f label:not(.inline)>* {
  display: block;
}

.fi {
  display: inline-block;
  margin-left: 2px;
}

.cf-turnstile {
  display: inline-block;
  height: 65px;
  border: 1px solid var(--black);
}

.tip {
  font-size: 10px;
  color: var(--brown);
}

.error {
  font-size: 12px;
  color: var(--orange);
}

/* keywords */
.keyword {
  margin: 0;
  font-size: 14px;
  padding: 0 2px 0 2px;
  background-color: var(--white);
}
.col2 .keyword {
  background-color: var(--yellow);
}


.badges>span {
  margin: 5px;
}

.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;

  margin: 10px;
  width: 90%;
}
.photo>img {
  display: block;
  border: 2px solid var(--black);
  width: 95%;
  max-width: 600px;
}

/* mobile */
@media screen and (max-width: 1000px) {
  .card {
    max-width: 90%;
  }
}

/* desktop */
@media screen and (min-width: 1001px) {
  .card {
    max-width: 80%;
  }
}

.progress {
  --progress: 50%;
  width: 100%;
  height: 12px;
  padding: 3px;
  box-sizing: border-box;
  background: var(--white);
}
.progress::before {
  content: "";
  display: block;
  height: 100%;
  width: var(--progress);
  background: var(--black);
}
.col2 .progress {
  background-color: var(--yellow);
}
