.card {
  margin: 10px;
  display: inline-block;
  position: relative;
  z-index: 1;
}
.card:before {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--brown);
  top: 10px;
  left: -10px;
  content: "";
  z-index: -1;
}
.card>.heading {
  min-width: fit-content;
  font: var(--heading);
  padding: 10px 20px 10px 20px;
  font-size: 30px;
  background-color: var(--orange);
}
.card>.text {
  min-width: fit-content;
  font: var(--text);
  padding: 5px 20px 5px 20px;
  overflow-wrap: break-word;
  background-color: var(--yellow);
}
.card>.text .title {
  margin: 4px 0 4px 0;
  font: var(--heading);
  font-size: 20px;
}

/* double column card design */
.col2 .card>.text {
  background-color: var(--white);
}
.col2 .card:before {
  background-color: var(--black);
  left: 10px;
}


.f {
  display: flex;
  flex-direction: column;

  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

  gap: 15px;

  background-color: var(--white);
}
.f label {
  display: block;
  position: relative;
  width: 100%;
}
.f input {
  box-sizing: border-box;
  width: 100%;
}
.f label>* {
  display: block;
}

.cf-turnstile {
  display: inline-block;
  height: 65px;
  border: 1px solid var(--black);
}

.tip {
  font-size: 10px;
  color: var(--brown);
}

.error {
  font-size: 12px;
  color: var(--orange);
}

.keyword {
  margin: 0;
  font-size: 14px;
  padding: 0 2px 0 2px;
  background-color: var(--white);
}
.col2 .keyword {
  background-color: var(--yellow);
}

.badges>span {
  margin: 5px;
}

.photo {
  margin: 10px;
  max-width: 300px;
  min-width: 100px;
}
.photo>img {
  border: 2px solid var(--black);
  width: 100%;
}

/* mobile */
@media screen and (max-width: 1000px) {
  .card {
    max-width: calc(100vw - 30px);
  }
}

/* desktop */
@media screen and (min-width: 1001px) {
  .card {
    max-width: calc(100vw - 300px);
  }
}
